
/* ======== global ======== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.splash-header-container {
  flex-direction: column;
}

.splash-section{
  opacity: .9;
}



/* ======== typography ======== */



/* global */

body {
  color: white;
  font-family: 'Jost', sans-serif;
}

li {
  list-style: none;
}

a {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

/* splash */

.splash-logo {
  font-size: 2rem;
  font-weight: 500;
}

.header-nav-links {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: .8;
  border-bottom: 2px solid transparent;
  transition: .5s;
}

.header-nav-links:hover,
.header-nav-links:focus {
  opacity: 1;
  border-bottom: 2px solid #ffffff;
}

.current-page {
  font-weight: 400;
  opacity: 1;
  border-bottom: 2px solid #ffffff;
}

.splash-title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
}

.thin-txt {
  font-weight: 200;
}

.splash-txt {
  font-size: 1rem;
  font-weight: 400;
}

.splash-btn {
  font-size: 1.5rem;
}

/* service */

.services-title,
.services-sub-title {
  text-align: center;
}

.services-title {
  font-size: 3rem;
  color: #e7e7e7;
}

.services-summary {
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
}

.services-sub-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.article-title {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
}

.services-btn {
  font-size: 1.5rem;
}


/* ======== style ======== */



/* splash-section */

.splash-section {
  background-image: url(./img/splash-background.jpg);
  background-size: cover;
  background-position: center;
  background-color: #000000a9;
  background-blend-mode: multiply;
  padding: 1.5em;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100svh;
}

.header-nav-container {
  margin-top: 1em;
  margin-inline: auto;
  justify-content: space-around;
  max-width: 500px;
}

.splash-btn {
  display: inline-block;
  margin-top: .3em;
  padding: .5em 1.5em;
  border: 2px solid #ffffff;
  transition: .5s;
}

.splash-btn:hover,
.splash-btn:focus {
  background-color: #000000a9;
}

.splash-footer-container {
  gap: 1em;
}

.splash-icon {
  opacity: .7;
  transition: .5s;
}

.splash-icon:hover,
.splash-icon:focus {
  opacity: 1;
}

/* services */

.services-section {
  color: #000000;
  flex-direction: column;
  padding: 4em 1em;
}

.services-sub-title {
  margin-top: -1.4em;
}

.services-summary {
  max-width: 600px;
  margin-inline: auto;
  margin-block: 2em 2.5em;
  padding: .5em;
}

.services-container {
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.service-article {
  width: 90%;
  max-width: 350px;
  background-color: #ffffff;
}

.article-img-background {
  height: 300px;
  flex-direction: column;
}

.dev-img {
  background-image: url(./img/dev-img.jpg);
  background-position: left;
  background-size: cover;
}

.design-img {
  background-image: url(./img/design-img.jpg);
  background-position: center;
  background-size: cover;
}

.article-title-container {
  background-color: #ffffff;
  margin-right: auto;
  margin-top: auto;
  padding: .5em 2em .5em .75em;
}

.article-txt {
  padding: 1em 1em;
}

.services-btn {
  border: 2px solid #000000;
  gap: .5em;
  margin-inline: auto;
  margin-top: .5em;
  padding: .5em 1.5em;
  transition: .5s;
  color: #000000;
  align-items: center;
}

.services-btn:hover,
.services-btn:focus {
  background-color: #e2e2e2;
}

/* ======== media-queries ======== */



@media (min-width: 750px) {

/* ======== typography ======== */

/* splash */

  .splash-logo {
    font-size: 2rem;
  }

  .splash-title {
    font-size: 5rem;
  }

  .splash-txt {
    font-size: 1.75rem;
  }

  .splash-btn {
    font-size: 1rem;
  }

/* services */

  .services-title {
    font-size: 5rem;
  }

  .services-sub-title {
    font-size: 2rem;
  }

  .article-txt {
    font-weight: 500;
    line-height: 1.6;
  }



/* ======== style ======== */

/* splash */

  .splash-section {
    min-height: 100vh;
  }

  .splash-header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav-container {
    margin-top: 0;
    gap: 5em;
  }

  .splash-content-container {
    margin-left: 4em;
  }

  .splash-btn {
    padding: 1em 3em;
    margin-top: .6em;
  }

  .splash-footer-container {
    gap: 2em;
  }

/* services */

  .services-section {
    background-image: url(./img/services-backgound.jpg);
    background-size: cover;
    background-position: bottom;
  }

  .services-container {
    flex-direction: row;
    justify-content: center;
    gap: 2em;
  }

  .services-sub-title {
    margin-top: -1.6em;
  }

  .article-img-background {
    height: 400px;
  }

  .services-btn {
    background-color: #ffffff;
    margin-top: 1.5em;
    border: none;
  }

}





























